.padding-0 {
    padding-right: 0;
    padding-left: 1;
}



.img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}